[submodule "_task_template"]
	path = _task_template
	url = https://github.com/openproblems-bio/task_template.git
[submodule "_core"]
	path = _core
	url = https://github.com/openproblems-bio/core.git
[submodule "_openproblems"]
	path = _openproblems
	url = https://github.com/openproblems-bio/openproblems.git
