
.quarto-title-banner {
  height: 540px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 575.98px) {
    .quarto-title-banner {
        height:325px
    }
}

@media screen and (min-width: 576px) and (max-width:767.98px) {
    .quarto-title-banner {
        height:350px
    }
}

@media screen and (min-width: 767.98px) and (max-width:930px) {
    .quarto-title-banner {
        height:415.797px
    }
}
