.quarto-title-banner {
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.quarto-title-banner h1 {
  font-size: 6rem;
  line-height: 1.2;
  font-family: amiri,sans-serif;
  font-weight: 400 !important;
}