img,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

code {
  color: var(--bs-code-color);
}

.navbar {
  border-width: 0px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-link {
  padding: 0.9rem 1rem;
}

.navbar-brand {
  padding-top: 0.7125rem;
  padding-bottom: 0.7125rem;
}

.navbar-dark {
  background-color: var(--bs-body-bg);
}

.navbar-logo {
  max-height: 48px;
}

.navbar .quarto-color-scheme-toggle .bi::before {
  background-image: var(--moon-svg) !important;
}

.navbar-collapse .quarto-color-scheme-toggle {
  margin-top: -20px;
}

@media screen and (max-width: 575.98px) {
  .navbar-logo {
    max-height: 30px;
  }
  .navbar-toggler {
    font-size: 1rem;
  }
  .navbar-brand {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}

@media screen and (min-width: 575.98px) and (max-width: 992px) {
  .navbar-logo {
    max-height: 40px;
  }
  .navbar-brand {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}

.mermaid svg {
  display: block;
  margin: auto;
}

header#quarto-header {
    transition: all 200ms linear;
}

.quarto-title-banner {
  height: 16em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

@media screen and (min-width: 768px) {
  .quarto-title-banner {
    height: 22em;
  }
}

/* Card fx */
.card-shadow {
  overflow: hidden;
  text-overflow: ellipsis;
  background: var(--bs-body-bg);
  box-shadow: 0 2px 4px var(--shadow-color);
  transition: all .2s ease-out;
}
a .card-shadow:hover,
.card-shadow:has(a):hover {
  box-shadow: 0 8px 16px var(--shadow-color);
}
.card .btn {
  margin-top: 0.5rem;
  padding: .2rem;
}

/* Fix overflow of wide funkyheatmap */
.quarto-figure > figure {
    overflow-x: auto;
}
