/* css styles */
#quarto-header nav.navbar {
  height: 5rem;
  padding: 0; 
}

a.navbar-brand-logo > img {
  max-height: 3rem;
  margin: 1rem;
}

.mermaid svg {
  display: block;
  margin: auto;
}

.quarto-title-banner {
  /* Set a specific height */
  height: 600px;
  /* Create the parallax scrolling effect */
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* .quarto-title-banner h1 {
  color: #ff414b;
  font-size: 6rem;
  font-weight: 300;
  text-align: center;
  font-family: amiri,sans-serif;
} */
