.quarto-title-banner {
  align-items: center;
  text-align: center;
}

.quarto-title-banner .title {
  font-size: 3rem;
  line-height: 1.2;
  font-family: amiri,sans-serif;
  
}

.quarto-title-banner .quarto-title .title {
  font-weight: 400;
}

@media (min-width: 768px) {
  .quarto-title-banner .title {
    font-size: 6rem;
  }
}