/*-- scss:defaults --*/
$primary: #ff414b;
$secondary: #5a6268;
$link-color: $primary;

/* Fonts */
@font-face {
  font-family: 'hk_groteskbold';
  src: url('https://chanzuckerberg.com/wp-content/themes/czi/fonts/HK-Grotesk/hkgrotesk-bold.eot'); /* IE9 Compat Modes */
  src: url('https://chanzuckerberg.com/wp-content/themes/czi/fonts/HK-Grotesk/hkgrotesk-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://chanzuckerberg.com/wp-content/themes/czi/fonts/HK-Grotesk/hkgrotesk-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://chanzuckerberg.com/wp-content/themes/czi/fonts/HK-Grotesk/hkgrotesk-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://chanzuckerberg.com/wp-content/themes/czi/fonts/HK-Grotesk/hkgrotesk-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'hk_grotesksemibold';
  src: url('https://chanzuckerberg.com/wp-content/themes/czi/fonts/HK-Grotesk/hkgrotesk-semibold.eot'); /* IE9 Compat Modes */
  src: url('https://chanzuckerberg.com/wp-content/themes/czi/fonts/HK-Grotesk/hkgrotesk-semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://chanzuckerberg.com/wp-content/themes/czi/fonts/HK-Grotesk/hkgrotesk-semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://chanzuckerberg.com/wp-content/themes/czi/fonts/HK-Grotesk/hkgrotesk-semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://chanzuckerberg.com/wp-content/themes/czi/fonts/HK-Grotesk/hkgrotesk-semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'hk_groteskmedium';
  src: url('https://chanzuckerberg.com/wp-content/themes/czi/fonts/HK-Grotesk/hkgrotesk-medium.eot'); /* IE9 Compat Modes */
  src: url('https://chanzuckerberg.com/wp-content/themes/czi/fonts/HK-Grotesk/hkgrotesk-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://chanzuckerberg.com/wp-content/themes/czi/fonts/HK-Grotesk/hkgrotesk-medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://chanzuckerberg.com/wp-content/themes/czi/fonts/HK-Grotesk/hkgrotesk-medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://chanzuckerberg.com/wp-content/themes/czi/fonts/HK-Grotesk/hkgrotesk-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
}

p {
  font-family: 'hk_groteskmedium', Fallback, sans-serif;
}

a {
  font-family: 'hk_groteskmedium', Fallback, sans-serif;
    font-weight: bold;
}