/* fix dark/light theme inline code blocks */

.quarto-light {
  --bs-code-color: #ff414b;
}

.quarto-dark {
  --bs-code-color: #ffb0b4;
  --bs-code-bgcolor: #272729;

  & code,
  & p code:not(.sourceCode),
  & li code:not(.sourceCode), 
  & td code:not(.sourceCode) {
    background-color: var(--bs-code-bgcolor);
  }

  & .table {
    border-top-color: var(--bs-table-border-color);
    border-bottom-color: var(--bs-table-border-color);
  }

  & #quarto-appendix.default {
    border-top-color: #404041;
  }
}

/* Fix changes to weight with quarto 1.3 */
/* See https://github.com/openproblems-bio/website/issues/234 */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 500;
}

/* Fix alignment issues in headings */
/* See https://github.com/openproblems-bio/website/issues/235 */
main.quarto-banner-title-block section:first-of-type h2:first-of-type, 
main.quarto-banner-title-block section:first-of-type .h2:first-of-type, 
main.quarto-banner-title-block section:first-of-type h3:first-of-type, 
main.quarto-banner-title-block section:first-of-type .h3:first-of-type, 
main.quarto-banner-title-block section:first-of-type h4:first-of-type, 
main.quarto-banner-title-block section:first-of-type .h4:first-of-type {
  margin-top: 0;
}

img,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.navbar {
  border-width: 0px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-link {
  padding: 0.9rem 1rem;
}

.navbar-brand {
  padding-top: 0.7125rem;
  padding-bottom: 0.7125rem;
}

.navbar-dark {
  background-color: var(--bs-body-bg);
}

.navbar-logo {
  max-height: 48px;
}

.navbar .quarto-color-scheme-toggle .bi::before {
  background-image: var(--moon-svg) !important;
}

.navbar-collapse .quarto-color-scheme-toggle {
  margin-top: -20px;
}

@media screen and (max-width: 575.98px) {
  .navbar-logo {
    max-height: 30px;
  }
  .navbar-toggler {
    font-size: 1rem;
  }
  .navbar-brand {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}

@media screen and (min-width: 575.98px) and (max-width: 992px) {
  .navbar-logo {
    max-height: 40px;
  }
  .navbar-brand {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}

.mermaid svg {
  display: block;
  margin: auto;
}

.quarto-title-banner {
  height: 16em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

/* Change metadata title block grid */
#title-block-header.quarto-title-block.default .quarto-title-meta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (min-width: 768px) {
  .quarto-title-banner {
    height: 22em;
  }
}

/* Card fx */
.card {
  overflow: hidden;
  text-overflow: ellipsis;
  background: var(--card-bg-color);
  box-shadow: 0 2px 4px var(--shadow-color);
  transition: all .2s ease-out;
}
.card:hover {
  box-shadow: 0 4px 8px var(--shadow-color);
}

.card .card-body .card-title {
  color: var(--bs-primary);
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.card .card-body .card-subtitle {
  font-size: .9em;
  margin-bottom: 0.25rem;
}

.card .card-body .card-text {
  color: var(--bs-secondary-text-color);
  font-size: .9em;
}

.card {
  overflow: hidden;
  text-overflow: ellipsis;
  background: var(--card-bg-color);
  box-shadow: 0 2px 4px var(--shadow-color);
  transition: all .2s ease-out;
}
a .card:hover,
.card:has(a):hover {
  box-shadow: 0 8px 16px var(--shadow-color);
}
.card .btn {
  margin-top: 0.5rem;
  padding: .2rem;
}

/* Fix overflow of wide funkyheatmap */
.quarto-figure > figure {
    overflow-x: auto;
}

/* CSS for the info-icon class */
.info-icon {
  font-size: 0.7em;
  vertical-align: top;
  margin-left: 0.2em;
}