/* css styles */
.people-person {
  background: none;
  border: none;
}

.people-widget {
  font-size: 0.8rem;
  text-align: center;
}

.people-widget .portrait-title h2 {
  font-size: 1rem;
}

.people-widget .portrait-title h3 {
  font-size: 0.7rem;
}

.people-widget .avatar {
  width: 80%;
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  height: auto;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .people-widget .col-sm-auto {
    width: 30%;
  }
}
@media (min-width: 992px) {
  .people-widget .col-sm-auto {
    width: 20%;
  }
}

.avatar-circle {
  border-radius: 50%;
}

.avatar-square {
  border-radius: 3px;
}

.portrait-title h5 {
  font-size: 1.4em;
  font-weight: 300;
  color: #000;
  margin: 20px 0 10px;
  
}

.portrait-title h6 {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.54);
  margin: 0 0 10px;
}

.network-icon {
  margin: 0.1em;
  text-decoration: none;
}
