/* css styles */
.people-person {
  background: none;
  border: none;
  flex-basis: 250px;
}

.people-widget {
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  padding-top: 1em;
}

.people-widget .portrait-title h2 {
  font-size: 1rem;
}

.people-widget .portrait-title h3 {
  font-size: 0.7rem;
}

.people-widget .avatar {
  width: 80%;
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  height: auto;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .people-widget .col-sm-auto {
    width: 30%;
  }
}
@media (min-width: 992px) {
  .people-widget .col-sm-auto {
    width: 20%;
  }
}

.avatar-circle {
  border-radius: 50%;
}

.avatar-square {
  border-radius: 3px;
}

.portrait-title h5 {
  font-size: 1.4em;
  font-weight: 300;
  color: var(--bs-body-color);
  margin: 20px 0 10px;
}

.portrait-title h6 {
  font-size: 1rem;
  font-weight: 300;
  color: var(--bs-secondary-text-color);
  margin: 0 0 10px;
}

.network-icon {
  margin: 0.1em;
  text-decoration: none;
}


/* Custom icons */

.fa-brands--orcid {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M294.75 188.19h-45.92V342h47.47c67.62 0 83.12-51.34 83.12-76.91c0-41.64-26.54-76.9-84.67-76.9M256 8C119 8 8 119 8 256s111 248 248 248s248-111 248-248S393 8 256 8m-80.79 360.76h-29.84v-207.5h29.84zm-14.92-231.14a19.57 19.57 0 1 1 19.57-19.57a19.64 19.64 0 0 1-19.57 19.57M300 369h-81V161.26h80.6c76.73 0 110.44 54.83 110.44 103.85C410 318.39 368.38 369 300 369'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  vertical-align: -.125em;
}