@import "compass/css3";

/**
 * Use the :target pseudo-element to apply
 * styles to the element with the same ID as
 * the fragment identifier.
 * (e.g. `#bib-author2000paper`)
 *
 * The pseudo-element can also be used in
 * conjunction with another selector to
 * define a variety of target styles.
 * (e.g. `#target-section:target)
 */

:bib {
	-webkit-animation: target-fade 1s;
	-moz-animation: target-fade 1s;
	-o-animation: target-fade 1s;
	animation: target-fade 1s;
}


/**
 * Keyframe animation definition
 *
 * 1. Insert a color of your choice here
 */

@-webkit-keyframes target-fade {
	from { background-color: red; } /* [1] */
	to { background-color: transparent; }
}

@-moz-keyframes target-fade {
	from { background-color: red; } /* [1] */
	to { background-color: transparent; }
}

@-o-keyframes target-fade {
	from { background-color: red; } /* [1] */
	to { background-color: transparent; }
}

@keyframes target-fade {
	from { background-color: red; } /* [1] */
	to { background-color: transparent; }
}