/* Dataset image */

#quarto-content {
  position: relative;
}

.dataset_img {
  position: absolute;
  top: -28rem;
  right: -4rem;
  rotate: 15deg;
  z-index: -1;
  opacity: 0.1;
  max-width: 500px;
}

.quarto-title-banner {
  border-bottom: 1px solid var(--bs-gray-200);
}

/* Fix title center on datasets overview page */
.quarto-title.column-page-left {
  grid-column: page-start/page-end;
}

/* Fix categories overflow scroll-bar */
#quarto-margin-sidebar .quarto-listing-category {
  font-size: .75rem;
}

/* Change font-weight of grid text */

.card .listing-title {
  font-weight: 600;
  color: var(--bs-primary)
}

.card .listing-description {
  font-weight: 500;
}