```{=html}
<div class="list grid quarto-listing-cols-2">
<% for (const item of items) { %>
  <div class="g-col-1">
    <a href="<%- item.path %>" class="quarto-grid-link">
      <div class="quarto-grid-item card card-left card-shadow">
        <div class="card-body">
          <p><b><%= item.title %></b></p>
          <% if (item.description) { %>
            <div class="card-text listing-description">
            <%= item.description %>
            </div>
          <% } %>
        </div>
      </div>
    </a>
  </div>
<% } %>
</div>
```