.dark .datatables {
  color: white;
}

.dark .datatables .even {
  background-color: transparent;
}

.dark .datatables .dt-button {
  color: white;
}

.dark .dt-button-collection {
  background-color: #23252f;
}

.dark .dataTable_wrapper .even {
  background-color: transparent;
}

.dark div.dtsp-panesContainer div.dataTables_wrapper div.dataTables_scrollBody{
  background: #23252f !important;
}

div.dtsp-topRow input.dtsp-search::placeholder{
  color: white;
}
