div.datatables {
    color: var(--bs-body-color);
}

div.dtsp-searchCont input.dtsp-search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--bs-body-color);
    opacity: 1; /* Firefox */
}

div.dtsp-searchCont input.dtsp-search:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--bs-body-color);
}

div.dtsp-searchCont input.dtsp-search::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--bs-body-color);
}

div.dtsp-topRow.dtsp-bordered:hover {
    background-color: var(--bs-secondary);
}

div.dtsp-panesContainer div.dtsp-searchPanes div.dtsp-searchPane button.dtsp-paneButton {
    filter: invert(1);
}