.quarto-grid-item.card {
  height: 100%;
}

.quarto-grid-item .card-title {
  margin-top: 0;
}

.quarto-grid-item .card-text {
  margin-bottom: auto;
}

.card .card-img-top {
  background-color: var(--bs-white);
}

.card {
  background-color: var(--card-bg-color);
}
