.csl-entry:target::before {
    font: 70% sans-serif;
    content: "►";
    margin-right: 0.25em;
}


.csl-entry:target {
    -webkit-animation: target-fade 2s;
    -moz-animation: target-fade 2s;
    -o-animation: target-fade 2s;
    animation: target-fade 2s;
    background-color: #ff414b44;
}
