
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <div class="card" style="width: 300px; height:300px;">
      <img class="card-img-top" src="/media/sponsor/logotypemarkcolor.svg" alt="Card image cap" style="width:200px;  margin: 40px 50px 20px; background-color:white;">
      <div class="card-body" style="padding-top: 0px;">
        <p class="card-text">Cellarity is redefining drug discovery by targeting cell behaviors as opposed to individual proteins.<br><a class="stretched-link" href="https://cellarity.com/careers?utm_source=neurips&utm_medium=push-notification&utm_campaign=neurips&utm_content=neurips-competition">Learn more.</a></p>
      </div>
    </div>
  </div>


  <div class="col-md-5">
    <div class="card" style="width: 300px; height:300px;">
      <img class="card-img-top" src="/media/sponsor/CZI_Logotype.svg" style="width:150px; margin: 20px 60px 10px; background-color:white;">
      <div class="card-body" style="padding-top: 0px;">
        <p class="card-text" style="line-height: 1.3rem;">CZI leverages technology and collaboration to accelerate progress in science, education and community work.<br> <a class="stretched-link" href="https://czi.org">Learn more.</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 250px; height:120px; background-color:white;">
      <img class="card-img-top" src="/media/sponsor/biohub_logo.svg" alt="Card image cap" style="width:170px;  margin: 25px 40px;">
      <div class="card-body" style="padding-top: 0px;">
        <a class="stretched-link" href="https://www.czbiohub.org/"></a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="width: 250px; height:120px; background-color:white;">
      <img class="card-img-top" src="/media/sponsor/yale-logo-sprite.svg" alt="Card image cap" style="width:130px;  margin: 22px 60px;">
      <div class="card-body" style="padding-top: 0px;">
        <a class="stretched-link" href="https://www.yale.edu/"></a>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="card" style="width: 250px; height:120px; background-color:white;">
      <img class="card-img-top" src="/media/sponsor/helmholtz_logotype.svg" alt="Card image cap" style="width:225px;  margin: 40px 12.5px">
      <div class="card-body" style="padding-top: 0px;">
        <a class="stretched-link" href="https://www.helmholtz-muenchen.de/icb/index.html"></a>
      </div>
    </div>
  </div>
</div>
